<div class="container mt-4">
    <div class="card" *ngIf="article">
      <div class="card-body">
        <h1 class="card-title">{{ article.title }}</h1>
        <img *ngIf="article.imageUrl" [src]="article.imageUrl" alt="{{ article.title }}" class="card-img-top mb-3"/>
        <p class="card-text">{{ article.body }}</p>
        <!-- <button class="btn btn-secondary" (click)="goBack()">Back</button> -->
      </div>
    </div>
    
    <div *ngIf="!article" class="text-center">
      <p>Loading...</p>
    </div>
  </div>
  